# Solana 网络配置

# 使用 Devnet 测试（推荐先用这个测试连接）
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# 本地测试网络（确保 Phantom 钱包也切换到 Localhost）
# NEXT_PUBLIC_SOLANA_RPC_URL=http://localhost:8899
# NEXT_PUBLIC_SOLANA_RPC_URL=https://rpc.ankr.com/solana_devnet/4703e736679d6b4b14b86db333559d0556f1af3b0fe47cdf0f80e10f6d633270


# NEXT_PUBLIC_API_BASE_URL=http://localhost:10081
NEXT_PUBLIC_API_BASE_URL=http://185.234.74.185:10081